<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <script src="/index.js" defer></script>
  </head>
  <body>
    <h1 id="studentGotKicked"></h1>
    <div id="teachOrStudent">
      <button class="animeButton1" id="goTeach"><span class="noselect">Teacher</span><div id="circle"></div></button>
      <button class="animeButton1" id="goStudy"><span class="noselect">Student</span><div id="circle"></div></button>
    </div>
    <div id="gettingStartedTeach">
      <div id="signup" class="form__group field">
        <input type="text" class="form__field" id="usernameS" name="usernameS" placeholder="Username"/>
        <label for="usernameS" class="form__label"></label>
        <br>
        <input type="password" class="form__field" id="passwordS" name="passwordS" placeholder="Password"/>
        <label for="passwordS" class="form__label"></label>
        <br>
        <button id="buttonSignup" class="animeButton"><span class="noselect">Sign up</span><div id="circle"></div></button>
        <button class="animeButton" id="buttonLoginInstead"><span class="noselect">Login here</span><div id="circle"></div></button>
      </div>
      <div id="login" class="form__group field">
        <input type="text" class="form__field" id="usernameL" name="usernameL" placeholder="Username"/>
        <label for="usernameL" class="form__label"></label>
        <br>
        <input type="password" class="form__field" id="passwordL" name="passwordL" placeholder="Password"/>
        <label for="passwordL" class="form__label"></label>
        <br>
        <button id="buttonLogin" class="animeButton"><span class="noselect">Login</span><div id="circle"></div></button>
        <button class="animeButton" id="buttonSignupInstead"><span class="noselect">Sign up here</span><div id="bigCircle"></div></button>
      </div>
    </div>
    <div id="homePageTeach">
      <button id="settingsPage">Settings</button>
      <!-- modal -->
      <div class="settingsPage">
        <button id="closeSettingsPage">Close</button>
        <input type="text" class="form__field" id="nameChange" name="nameChange" placeholder="Change display name"/>
        <label for="nameChange" class="form__label"></label>
        <input type="text" class="form__field" id="meetTimeout" name="meetTimeout" placeholder="Meeting timeout (minutes)"/>
        <label for="meetTimeout" class="form__label"></label>
        <button id="confirmSettingChanges">Confirm</button>
      </div><!-- overlay -->
      <div id="teacherHeader">
        <h1 id="teacherGreetings">Hello,</h1>
        <h2 id="teacherTrueName">Teacher</h2>
      </div>
      <button class="animeButton1" id="teacherStartClass"><span class="noselect">Start class</span><div id="circle"></div></button>
      <!-- ^^for when this button is pressed, open up extra options -->
      <div id="teacherClassOptions">
        <label class="container">Private Room
          <input type="checkbox" name="whatHappensToStudent" id="whatHappensToStudent" checked="checked">
          <span class="checkmark"></span>
        </label>
        <button class="animeButton1" id="startClass"><span class="noselect">Start</span><div id="circle"></div></button>
      </div>
    </div>
    <div id="startedClassTeach">
      <h1 id="teachersClass"></h1>
      <h2 id="teachersRoomID"></h2>
      <!-- all the members -->
      <button class="badge1" data-badge="0" id="currentStudentQueueOpen">Student queue</button>
      <div class="settingsPage" id="currentStudentQueue">
        <button id="closeQueuePage">Close</button>
        <span id="noStudentsCurrently">No students in queue</span>
        <ol id="studentListinQueue">
          <li>
            <!-- name -->
            <span id="studentNameInQueue"></span>
            <!-- buttons for allowing or denying -->
          </li>
        </ol>
      </div>
      <div id="boxofStudentListinClass">
        <ol id="studentListinClass">
          <li id="tempname">
            <!-- name -->
            <span></span>
          </li>
        </ol>
      </div>
      <button class="animeButton1" id="endClass"><span class="noselect">End</span><div id="circle"></div></button>
    </div>
    <div id="gettingStartedStudent">
      <!-- the students name -->
      <input type="text" class="form__field" id="studentShownName" name="studentShownName" placeholder="Name"/>
      <label for="studentShownName" class="form__label"></label>
      <input type="text" class="form__field" id="teacherRoomIDJoiner" name="teacherRoomIDJoiner" placeholder="Your teacher's room number"/>
      <label for="teacherRoomIDJoiner" class="form__label"></label>
      <button class="animeButton" id="goToTeacherRoom"><span class="noselect">Join room</span><div id="circle"></div></button>
    </div>
    <div id="studentInTeachersRoom">
      <h1 id="studentCurrentLocation"></h1>
      <div id="teacherRoomExist">
        <h1 id="teacherNameForRoom"></h1>
        <h1 id="teacherNameForRoom1"></h1>
        <div id="joinedRoomQueue">
          <div class="loader" id="joiningTeachersRoomInABit"></div>
        </div>
        <div id="fullyJoined">
          <h1 class="teacherGreetings" id="waitingForHelpFromTeach">Waiting for your teacher</h1>
          <div id="joinedRoomQueue">
            <div class="loader" id="joiningTeachersRoomInABit1"></div>
          </div>
          <button class="animeButton" id="requestHelpFromTeacher"><span class="noselect">
            Help
          </span><div id="fattestCircle"></div></button>
        </div>
      </div>
      <div id="teacherRoomNotExistent">
        <h2> The room you've tried to join is either offline or does not exist </h2>
        <a> Try another room </a>
      </div>
    </div>
  </body>
</html>